{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block page_title %} {{ post.title }} 게시물 목록 {% endblock %}
{% block body %}
    {% for item in posts %}
        {% include 'part_detail_post.html' with post=item %}
        {% empty %}
        <p>
            게시물이 없습니다.
        </p>
    {% endfor %}

    {% bootstrap_pagination posts %}

    {% comment %}
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">이전 쪽</a>
    {% endif %}

    {{ posts.number }} / {{ posts.paginator.num_pages }}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">다음 쪽</a>
    {% endif %}
    {% endcomment %}

    <p>
        <a href="{% url 'blog:create_post_form' %}">새 글 쓰기</a>
    </p>
{% endblock %}