{% load bootstrap3 %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block page_title %}log4life{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/ezblog.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
<!-- Fixed navbar -->
{% include 'topbar.html' %}
<!-- Begin page content -->
<div class="container-fluid">
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="main col-md-10 col-md-offset-2">
            {% block body %}
            {% endblock %}
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% bootstrap_javascript %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% block javascript %}
{% endblock %}

</body>

</html>