{% load markdown_filter %}

<div class="page-header">
    <h3>
        {% if request.user.is_authenticated and not post.is_public_status %}
        <span class="label label-primary">{{ post.get_status_display }}</span>
        {% endif %}
        <a href="{% url 'blog:posts' pk=post.pk %}">{{ post.title }}</a>
        <br />
        <small>
            {{post.created_at.year}}.{{post.created_at.month|stringformat:"02d"}}.{{post.created_at.day|stringformat:"02d"}}
        </small>
    </h3>
</div>

<p>{{ post.content }}</p>

<p>
<div>
    {% for tag in post.tags.all %}
    <span class="badge">{{ tag.name }}</span>
    {% endfor %}
</div>
</p>

<hr/>