<div class="col-xs-6 col-sm-2 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <ul class="nav navbar-stacked">
        <li>
            <form method="GET" action="{% url 'blog:posts_by_keyword' %}" role="search">
                <div class="form-group sidebar-search">
                    <input name="keyword" type="text" class="form-control"
                           placeholder="Search"
                           value="{% if keyword %}{{ keyword }}{% endif %}">
                </div>
            </form>
        </li>
        <li><span class="sidebar-title"><strong>카테고리</strong></span></li>
        {% for category in categories %}
        <li>
            <a class="sidebar-item" href="{% url 'blog:posts_by_category' category_pk=category.pk %}">{{ category.name }}</a>
        </li>
        {% endfor %}
        <hr class="sidebar-divider"/>
        <li><span class="sidebar-title"><strong>아카이브</strong></span></li>
        {% for archive in archives.items %}
        <li>
            <a class="sidebar-item" href="{% url 'blog:posts_by_year' year=archive.0 %}">{{ archive.0 }} ({{ archive.1 }})</a>
        </li>
        {% endfor %}


        <hr class="sidebar-divider"/>
        <li>
            {% if request.user.is_authenticated %}
            <a class="sidebar-item" href="{% url 'logout_url' %}?next={{ request.path }}">로그아웃</a>
            <a class="sidebar-item" href="{% url 'blog:create_post_form' %}">새 글 쓰기</a>
            {% else %}
            <a class="sidebar-item" href="{% url 'login_url' %}?next={{ request.path }}">로그인</a>
            {% endif %}
        </li>
    </ul>
</div>