<div class="navbar navbar-static navbar-default navbar-fixed-top navbar-black">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar"
                    data-target=".sidebar-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog:index' %}">log4life</a>
        </div>
    </div>
</div>